{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <form action="client" method="post">
    <div class="form-group">
      <label for="latitude">Latitude</label>
      <input type="numeric" class="form-control" id="latitude" placeholder="Enter a latitude">
    </div>
    <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="numeric" class="form-control" id="longitude" placeholder="Enter a longitude">
        </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
{% endblock %}
