{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <form action="client" method="post">
  <div class="form-group">
    <label for="id">Id</label>
    <input type="numeric" class="form-control" id="id" name="id" placeholder="Enter an id">
  </div>
    <div class="form-group">
      <label for="latitude">Latitude</label>
      <input type="numeric" class="form-control" id="latitude" name="latitude" placeholder="Enter a latitude">
    </div>
    <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="numeric" class="form-control" id="longitude" name="longitude" placeholder="Enter a longitude">
        </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
{% endblock %}
